body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1e1e1e;
    font-family: Arial;
}

/* Caixa */
.calculadora {
    background: #cfcfcf;
    padding: 20px;
    border-radius: 15px;
    width: 260px;
}

/* Visor */
.visor {
    background: #aee1f9;
    font-size: 30px;
    text-align: right;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* GRID */
.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* Botões */
button {
    padding: 15px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    background: black;
}

/* cores especiais */
.mais {
    background: green;
}

.menos {
    background: red;
}

.igual {
    background: blue;
    grid-column: span 4;
}

/* título */
.titulo {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
